<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/7f4c749960.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="wrapper-navabr">
        <nav>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">FYP LMS 2022</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page"
                                    href="../instructor/instrucotrCourseView.html">Courses</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="./adminTeacherManager.html">Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./adminStudentsManager.html">Students</a>
                            </li> -->
                        </ul>
                        <form class="d-flex">
                            <li class="nav-item dropdown">
                                <button type="button" class="btn badge bg-dark secondary" data-bs-toggle="dropdown"
                                    data-bs-toggle="dropdown">
                                    Profile
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="../../index.html">Sign Out</a></li>
                                </ul>
                            </li>
                        </form>
                    </div>
                </div>
            </nav>
        </nav>
    </div>





    <!-- Navbar Ended -->


    <!-- Main Body -->
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h2>Assignments</h2>
                <P>View Assignments</P>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Assignment
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Assignment#</th>

                                        <th scope="col">Assignment Title</th>
                                        <th scope="col"></th>

                                        <th scope="col">
                                            <div class="">
                                                <a href="" class="btn btn-primary " data-bs-toggle="modal"
                                                    data-bs-target="#uploadAssignment"> +
                                                    Add
                                                    Assignment</a>

                                                <!-- Modal -->
                                                <div class="modal fade" id="uploadAssignment" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Add a
                                                                    Assignment</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/instructorCourseAssignmentView.ejs" method="POST"
                                                                    enctype="multipart/form-data">

                                                                    <div class="col-md-6">
                                                                        Assignment <input type="text"
                                                                            class="form-control" id="newCoureName"
                                                                            name="Lname">
                                                                    </div>
                                                                    <div class="col-md-6 ">
                                                                        <label for="add-Assno"  class="form-label ">Assignment No</label>
                                                                        <select id="add-Assno" class="form-select " name="Assno" >
                                                                        <option selected>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        
                                                                      </select>
                                                                    </div>


                                                                    <div class="input-group col-md-6">
                                                                        <div class="custom-file">
                                                                            <label class="custom-file-label"
                                                                                for="inputGroupFile04"></label>
                                                                            <br>
                                                                            <input type="file" class="custom-file-input"
                                                                                name="image" id="inputGroupFile04">

                                                                        </div>

                                                                    </div>



                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-dark">Upload</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <%movieList.forEach(movie=> {%>
                                    <tr>
                                        <th scope="row"><%= movie.Assno %></th>

                                        <td><%= movie.Lname %></td>
                                        <td>
                                                
                                            <a href="/deletea/<%=movie._id %>"onclick="return confirm('Are you sure to delete this record ?');"><i  class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                        </td>
                                        <td><a href="./instructorSubmittedAssignmentView.ejs" class="btn btn-dark " > 
                                            View Submitted
                                            Assignment</a></td>
                                    </tr>

                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <!-- Bootsrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../index.js"></script>
</body>

</html>