.adminlogin-wrapper {
  border: 1px solid black;
  border: dotted;
  padding: 5rem;
  z-index: -9000;
  background-position: right; }

.adminlogin-col {
  border: 2px solid black;
  border-radius: 1rem;
  padding-top: 2rem;
  height: 25rem;
  box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75); }

.studentlogin-wrapper {
  border: 1px solid black;
  border: dotted;
  padding: 5rem;
  z-index: -9000;
  background-position: right; }

.studentlogin-col {
  border: 2px solid black;
  border-radius: 1rem;
  padding-top: 2rem;
  height: 25rem;
  box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75); }

.teacherlogin-wrapper {
  border: 1px solid black;
  border: dotted;
  padding: 5rem;
  z-index: -9000;
  background-position: right; }

.teacherlogin-col {
  border: 2px solid black;
  border-radius: 1rem;
  padding-top: 2rem;
  height: 25rem;
  box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 1rem; }

a {
  color: white; }

a:visited {
  color: white;
  display: block; }

.form-check-input {
  background-color: white; }

.form-check-input::after {
  background-color: black; }

.form-check-input:active {
  background-color: white; }

.wrapper-navabr .btn {
  margin-right: 1rem; }

.wrapper-navabr .btn:hover {
  color: grey; }

.wrapper-navabr .navbar-brand {
  font-size: 1rem; }

.wrapper-navabr .nav-link {
  font-size: 1rem; }

.adminFeaturedInfo {
  font-size: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  text-align: center; }
  .adminFeaturedInfo .card {
    padding: 1rem;
    width: 18rem;
    display: inline-block;
    margin-right: 1rem; }
  .adminFeaturedInfo .row {
    width: 100%;
    font-size: 1rem; }
  .adminFeaturedInfo .dataTable .table {
    width: 100%;
    font-size: 60rem; }

.addCourseButton {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  font-size: 1rem; }

.addCourseCard .row {
  margin-top: 2rem;
  padding: 1rem; }

.coursesRow {
  margin-left: 4.5rem; }

.landing {
  background-image: url("../../../img/background.jpg");
  background-size: cover;
  height: 100vh; }
  .landingWrapper-leftBox {
    color: white;
    left: 0;
    background: rgba(41, 43, 44, 0.62);
    background: radial-gradient(circle farthest-corner at top left, rgba(41, 43, 44, 0.62) 25%, rgba(41, 43, 44, 0.65) 20%, rgba(43, 41, 44, 0.49) 20%);
    background: -webkit-radial-gradient(circle farthest-corner at top left, rgba(41, 43, 44, 0.62) 25%, rgba(41, 43, 44, 0.65) 20%, rgba(43, 41, 44, 0.49) 20%);
    background: -moz-radial-gradient(circle farthest-corner at top left, rgba(41, 43, 44, 0.62) 25%, rgba(41, 43, 44, 0.65) 20%, rgba(43, 41, 44, 0.49) 20%);
    border-radius: 5px;
    margin-top: 2rem;
    text-align: center;
    padding-top: 5rem; }
  .landingWrapper-rightBox {
    color: white;
    margin-top: 2rem; }
  .landingWrapper-rightArrow {
    margin-top: 0.5rem;
    height: 10rem;
    box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    background: rgba(41, 43, 44, 0.62);
    background: radial-gradient(circle farthest-corner at top left, rgba(41, 43, 44, 0.62) 25%, rgba(41, 43, 44, 0.65) 20%, rgba(43, 41, 44, 0.49) 20%);
    background: -webkit-radial-gradient(circle farthest-corner at top left, rgba(41, 43, 44, 0.62) 25%, rgba(41, 43, 44, 0.65) 20%, rgba(43, 41, 44, 0.49) 20%);
    background: -moz-radial-gradient(circle farthest-corner at top left, rgba(41, 43, 44, 0.62) 25%, rgba(41, 43, 44, 0.65) 20%, rgba(43, 41, 44, 0.49) 20%); }
    .landingWrapper-rightArrow:not(:first-child) {
      margin-top: 1rem; }
  .landingWrapper-rightArrow-top {
    background-color: #C4C4C6;
    left: 33rem;
    overflow-x: auto; }
  .landingWrapper-rightArrow-center {
    top: 12rem;
    background-color: #C4C4C6;
    left: 33rem; }
  .landingWrapper-rightArrow-bottom {
    top: 23.9rem;
    background-color: #C4C4C6;
    left: 33rem; }
  .landingWrapper-rightArrow-icon {
    position: absolute;
    transform: translate(10%, 50%); }
    .landingWrapper-rightArrow-icon-text {
      position: absolute;
      z-index: 1000;
      transform: translate(200%, 250%); }

.addTeacherButton {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  font-size: 1rem; }

.addTeacherCard .row {
  margin-top: 2rem;
  padding: 1rem; }

.coursesRow {
  margin-left: 4.5rem; }